.topnav{
    background-color: rgb(238, 238, 238);
    overflow: hidden;
}

.topnav a{
    color: #373737;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}

.topnav a:hover{
    color: rgb(238, 238, 238);
    background-color: #373737;
    text-decoration: none;
}

.topnav-right{
    float: right;
}

