body{
    background-color: rgb(216, 216, 216);
    margin: 0;
}
*{
    box-sizing: border-box;
}
.topnav{
    background-color: rgb(61, 59, 57);
    overflow: hidden;
}
.topnav a{
    color: azure;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav a:hover{
    color: #373737;
    background-color: azure;
    text-decoration: none;
}

.topnav-right{
    float: right;
}

.header{
    padding: 20px;
    text-align: center;
    background-color: burlywood;
}

.row:after{
    content: "";
    display: block;
    clear: both;
}
.content{
    float: left;
    width: 66%;
    padding: 15px;
}
.side_bar{
    float: left;
    width: 34%;
    padding: 15px;
}

.footer{
    background-color: rgba(45, 75, 89, 20%);
    padding: 20px;
    text-align: center;
    font-size: 0.7em;
}


h3{
    text-align: center;
    color:rgb(79, 138, 11); 
    text-transform: uppercase;
    text-decoration: underline;
}
table{
    border: solid 1px #373737;
    width: 70%;
    border-collapse: collapse;
}
td{
    border: solid 1px #373737;
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgba(0, 0, 0, 90%);
    color: rgba(255, 255, 255, 90%);
    padding: 5px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: bisque;
}
tr:hover{
    background-color: rgb(243, 235, 225);
}